@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#admin-lock,
#admin-print {
  color: #26a69a;
  margin: 0 10px;
}

.partition {
  display: flex;
  justify-content: space-between;
}
#shul-header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 5px;
  flex-wrap: wrap;
  /* position: fixed; */
  width: 100%;
}

#shul-header > div {
  padding: 10px;
}

#checkout-btn-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#shul-name {
  font-size: 30px;
  font-weight: bold;
}

#reserve-now {
  cursor: pointer;
  min-width: 150px;
  margin: 0 10px;
}

#shul {
  margin: 0 auto;
  width: 800px;
  background-color: #fff;
  border: 1px solid rgb(71, 71, 71);
}

#seats-selected,
#amount-to-pay {
  font-family: arial;
}

.bima {
  position: relative;
  bottom: -180px;
}

.bima-cont {
  padding: 20px;
}

.hechal,
.bima {
  display: flex;
  justify-content: center;
  border: solid 5px white;
  height: 170px;
  width: 100%;
}

.span-in-hechal-bima {
  color: white;
  font-size: 30px;
}

.men-section {
  background-color: rgb(40 60 85);
}
.woman-section {
  background-color: rgb(191 106 106);
  border-top: 20px solid black;
}

.print .seat {
  background-color: rgb(227, 227, 227) !important;
  border: 1px solid black;
}

.print section,
.print .taken,
.print .small-names {
  background-color: white !important;
}

.print .span-in-hechal-bima {
  color: black;
}

.print .row-letter {
  color: black;
}

.print .hechal,
.print .bima {
  border: solid 5px black;
}

.fa-check,
.fa-x {
  font-size: 30px;
}

.left-col,
.right-col {
  width: 35%;
}

.mid-col {
  width: 30%;
}

.left-col-woman,
.right-col-woman {
  width: 50%;
}

.section-gender {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.section-gender > span {
  display: inline-block;
  padding: 0 10px;
}

.table-horizon {
  display: flex;
}

.shul-table-row {
  display: flex;
  justify-content: space-around;
}

.shul-table {
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 15px;
}

.seat {
  cursor: pointer;
  margin: 5px 0;
  width: 30px;
  height: 30px;
  background-color: rgb(177, 255, 177);
}

.seat:hover:not(.taken) {
  background-color: rgb(5, 255, 5);
}

.taken {
  background-color: rgb(0 141 238);
  cursor: not-allowed;
}

.unpaid {
  background-color: rgb(255 137 37);
  cursor: not-allowed;
}

.small-names {
  font-size: 8px;
  text-align: left;
  line-height: 1;
  font-weight: bold;
  width: min-content;
  padding: 2px;
}

.admin-area h2 {
  font-size: 30px;
  cursor: pointer;
}

.admin-area {
  min-height: 100vh;
}

select:not(.for-form) {
  display: inline-block !important;
}

#container-all-seats-reserved {
  width: 500px;
  margin: 0 auto;
}

div[inop="1"] {
  visibility: hidden;
}

.admin {
  cursor: alias;
}

.row-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  margin: 5px 0;
  height: 30px;
}

.row-letter-cont-horizon {
  padding-top: 0;
  padding-bottom: 0;
}

.row-letter-cont-vertical {
  padding-left: 0;
  padding-right: 0;
}
